* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 70%;
  margin: auto;
  text-align: center;
  color: white;
  background-image: url(/imagenes/verdura.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
    font: 2em sans-serif;
    margin-top: 30px;
}