* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*mantiene el contenido al limite de la pagina, lo ancho y alto se suma automatico con el borde de la caja*/

body {
    display: grid;
    grid-template-areas:
        "header header"
        "secciones secciones"
        "bienvenido bienvenido"
        "menus menus"
        "footer footer"
    ;
    width: 80%;
    margin: auto;
    background-image: url(imagenes/verdura.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    width: 100px;
}

header div p {
    text-align: center;
    color: red;
    margin-left: 10px;
    font-weight: 600;
}

header nav {
    display: flex;
    align-items: center;
}

header a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(15, 15, 15);
}

header a:hover {
    color: red;
    font-size: 2em;
    transition: 2s;
}

/**/

.secciones {
    grid-area: secciones;
    width: 100%;
    justify-content: space-between;
    display: flex;
    margin: 30px 0 20px 0;
}

.secciones div {
    align-content: center;
    font-size: 10mm;
    padding: 0 30px 0 30px;
}

.secciones div a {
    text-align: center;
    text-decoration: none;
    color: bisque;
}

/**/

#bienvenido {
    grid-area: bienvenido;
    text-align: center;
    color: aliceblue;
    font-size: 10mm;
    margin: 30px 0 50px 0;
    background-color: rgba(201, 144, 201, 0.842);
}


/**/
.menus {
    grid-area: menus;
    width: 100%;
    display: grid;
    /*grid-template-areas:
        "menu1 menu2"
        "menu3 menu4";
        background-color: thistle;
        gap: 10px;*/
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 20px 0 30px 0;
}

#menu1 {
    /*grid-area: menu1;*/
    width: 100%;
    /*color fondo*/
    background-image: url(imagenes/hamburguesa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
}

#menu1:hover {
    transform: scale(1.2);
    transition: 1s;
    border-radius: 30%;
    background-color: #e9e06a;
    color: rgb(25, 0, 252);
}

#menu1 p {
    text-align: center;
    font: 1.3em sans-serif;
    width: 80%;
    margin: 10px auto 0 auto;
}

#hamburguesa {
    background-image: url(imagenes/hamburguesa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

#formulario-hamburguesa {
    width: 50%;
    margin: auto;
    text-align: center;
}

#control {
    color: black;
    width: 90%;
    margin-top: 10px;
    font: 1.2em sans-serif;
}

#control:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.2);
    transition: 1s;
    width: 100%;
}

/**/
#menu2 {
    /*grid-area: menu2;*/
    width: 100%;
    /*color fondo*/
    background-image: url(imagenes/ravioles\ lejos.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu2:hover {
    transform: scale(1.2);
    transition: 1s;
    border-radius: 30%;
    color: rgb(20, 35, 245);
    font-weight: bold;
}

#menu2 p {
    text-align: center;
    font: 1.3em sans-serif;
    width: 80%;
    margin: 10px auto 0 auto;
}

#formulario-milanesa {
    width: 50%;
    margin: 50px auto 0 auto;
    /*color: red;*/
}

#sabores {
    display: flex;
}

#sabores i {
    margin: 2px auto 2px auto;
    font-size: x-large;
}

#controles {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

#controlm {
    color: black;
    width: 100%;
    margin: 5px 0 2px 0;
    font: 1.2em sans-serif;
}

#controlm:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.1);
    transition: 2s;
    width: 100%;
}

/**/
#menu3 {
    /*grid-area: menu3;*/
    /*color fondo*/
    width: 100%;
}

#menu3:hover {
    transform: scale(1.2);
    transition: 3s;
    transform: translateY(-20%);
    border-radius: 30%;
    border: dotted;
    background-color: #db1b35;
    color: rgb(250, 248, 248);
}

#menu3 p {
    text-align: center;
    font: 1.3em sans-serif;
    min-width: 80%;
    margin: 20px auto 0 auto;
}

#menu3 p:hover {
    min-width: 80%;
    margin: 20px auto 0 auto;
}

#pizza {
    background-image: url(imagenes/pizza.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
}

#formulario-pizza {
    width: 50%;
    margin: auto;
    color: red;
}

#formulario-pizza form {
    width: 50%;
    margin: auto;
}

#controlp {
    color: black;
    width: 100%;
    margin-top: 2px;
    font: 1.2em sans-serif;
}

#controlp:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.5);
    transition: 1s;
}

/**/
#menu4 {
    /*grid-area: menu4;*/
    width: 100%;
    /*color fondo*/
    padding-top: 20px;
}

#menu4:hover {
    transform: scale(1.2);
    transition: 3s;
    transform: translateY(-20%);
    border-radius: 30%;
    border: dotted;
    background-color: #db1b35;
    color: rgb(250, 248, 248);
}

#menu4 p {
    text-align: center;
    font: 1.3em sans-serif;
    width: 80%;
    margin: 10px auto 0 auto;
}

#ravioles {
    background-image: url(imagenes/ravioles.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 200px;
}

#formulario-ravioles {
    width: 50%;
    margin: auto;
}

#formulario-ravioles form {
    width: 100%;
    margin: auto;
}

#controlr {
    color: black;
    width: 100%;
    margin-top: 2px;
    font: 1.2em sans-serif;
}

#controlr:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.5);
    transition: 1s;
}

/**/
footer {
    grid-area: footer;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    color: blue;
    font-size: 5mm;
}